@import '../../App';

.AppLoginForm {
  height: 350px;
  max-width: 900px;
  margin: 10rem auto;
  margin-bottom: 0;

  &__columns {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &__column {
    height: 100%;
    flex: 1;

    &:first-child {
      flex: 4;
      top: -100px;
    }

    &:last-child {
      flex: 3;
    }
  }

  &__image {
    background: url('../../assets/images/monster.png');
    height: 100%;
    width: 100%;
    background-size: 95%;
    border: none;
    outline: none;
    
  }

  &__text {
    font-size: 32px;
    font-weight: 700;
    
  }

  &__content {
    text-align: center;
    font-size: 16px;
  }

  &__radio-group {
    display: inline-block;
    padding: 10px;
  }

  &__input[type=text], &__input[type=date], &__input[type=password] {
    height: 45px;
    width: 100%;
    max-width: 250px;
    font-size: 15px;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding-left: 5px;
  }

  &__button{
    margin-top: 15px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: $pastel-orange;
    color: white;
    font-weight: 800;
    font-size: 18px;
  }
}