@import '../../App';

.AboutUs{
  margin-top: 4rem;
  height: 400px;
  width: 100%;
  max-width: 1200px;

  &__columns {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &__column {
    height: 100%;
    flex: 3;

    &:first-child {
      flex: 4;
      background-size: 190%;
    }

    &:last-child {
      flex: 4;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.5;
    text-align: justify;
  }

  &__video { 
    position: relative;
    top: -50px;
  }
}