@import '../../App';

.PlaceDetail{
  font-size: 1.6rem;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  background-color: rgba(0,0,0,0.05);
  box-shadow: 1px 4px 2px 2px rgba(0,0,0,0.3);
  text-align: center;
  margin: 10px 10px 10px 10px;
  position: relative;
  top: -55px;

  &__container {
    justify-content: space-between;
    height: 100%;

    &:first-child {
      margin-top: 15px;
    }
  }
  
  &__image{
    float: left;
    width: 100px;
    height: 100px;
  }

  &__item{
    height: 100%;
    font-size: 20px;
    margin-top: 10px;
  }

  &__status{
    font-size: 12px;
    text-align: center;
  }
}