@import '../../App';

.AppButton {
  font-size: 2rem;
  padding: 2rem 10rem;
  border: none;
  border: 2px solid $brand-color-primary;
  border-radius: .4rem;
  margin: .5rem 0;
  cursor: pointer;
  transition: $short-frame $transition-fluent;
  font-weight: 600;
  letter-spacing: .1rem;
  // text-transform: uppercase;
  outline: none;
  
  &:focus {
    outline: none;
  }

  box-shadow: 0 6px 15px 0 $shadow-soft; 

  &-primary {
    background-color: $brand-color-primary;
    color: $pastel-white;

    &:hover {
      background-color: $pastel-white;
      color: $brand-color-primary;
    }
  }

  &-secondary {
    background-color: $brand-color-secondary;
    border-color: $brand-color-secondary;
    color: $pastel-white;

    &:hover {
      background-color: $pastel-white;
      color: $brand-color-secondary;
    }
  }
}