$short-frame: .1s;
$normal-frame: .35s;
$long-frame: .85s;

$transition-fluent: cubic-bezier(.37,.03,.73,.98);
$transition-delayed: cubic-bezier(.96,-0.22,.58,.94);
$transition-soft-out: cubic-bezier(.25,.07,.61,.61);