@import './utilities/grid';
@import './utilities/palette';
@import './utilities/typography';
@import './utilities/timers';
@import './utilities/zindex';
@import './utilities/rwd';


html, body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;

  footer {
    position: fixed;
    bottom: 0;
  }

  &__actions {
    display: flex;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    z-index: $zindex-actions;

    &-column {
      flex-direction: column;
    }
  }

  &__content {

    &-big {
      color: $brand-color-secondary;
      font-weight: 600;
      font-size: 10rem;
      text-align: center;
      margin: 10rem 0;
    }
  }

  &__animate {
    &-fade-slide {
      opacity: 0;
      animation: $long-frame app-animate-fade-slide $transition-fluent forwards;
    }
    &-fade {
      opacity: 0;
      animation: $long-frame app-animate-fade $transition-fluent forwards;
    }
  }
}

@keyframes app-animate-fade-slide {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes app-animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.DoctorDataList {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.DoctorDataItem {
  font-size: 2rem;
  border-radius: .4rem;
  padding: 3rem 4rem;
  margin-bottom: 2rem;
  background-color: $panel-color-primary;

  &__email {
    font-size: 4rem;
    font-weight: 600;
  }

}