@import '../../App';


.ParentQuestionDetails {
  margin-top: 4rem;
  height: 300px;
  width: 100%;
  max-width: 1200px;

  &__wrapper {
    margin-bottom: 8rem;
  }

  &__concern {
    font-size: 3.4rem;
    font-weight: 600;
    color: $brand-color-secondary;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem;
    // box-shadow: 0 6px 8px 0px $shadow-soft-light; 
    border-radius: .6rem;

    &::after {
      content: '';
      display: block;
      width: 15%;
      height: .4rem;
      margin: 3rem auto 0;
      background: $brand-color-primary;
      transition: width $normal-frame;
    }
  }

  &__columns {
    display: flex;
  }

  &__form {
    font-size: 3rem;
    padding: 0 3rem;
    flex: 1;
    background-color: $background-color-opacity;
    border-radius: .5rem;
    height: 500px;      //same as video
    overflow: scroll;

    .AppButton {
      margin-top: 4rem;
    }
  }

  &__subquestion {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: $brand-color-secondary;
    padding: 2rem;
    border-radius: .8rem;

    &-actions {
      display: flex;
      justify-content: space-around;
    }
  }

  label {
    display: block;
    padding: 1.2rem;
    position: relative;
    padding-left: 20px;
    flex-basis: 40%;

    input {
      display: none;

      &:checked + span {
        background: $brand-color-primary;
        border-color: $brand-color-primary;
        color: $pastel-white;
      }
    }

    span {
      border: 1px solid #ccc;
      width: 100%;
      height: 4rem;
      position: absolute; 
      overflow: hidden; 
      line-height: 1; 
      text-align: center;
      font-size: 2rem;
      transition: $short-frame;
      cursor: pointer;
      // left: 0;
      // top: 50%;
      // margin-top: -7.5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: .5rem;
      border: 2px solid $brand-color-primary;
    }
  }
}